* {
  margin: 0;
  box-sizing: border-box; 
  font-family: 'NanumSquareRound';
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#startButton {
  all: unset;
  cursor: pointer;
  width: 12rem;
  height: 5rem;
  line-height: 5rem;
  border: 1px solid #000;
  border-radius: 3.6rem;
  font-family: 'Coda';
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}
#startButton:active {   /* 모바일 고려. 데스크탑은 이후에 hover로 설정? */
  color: #fff;
  background-color: #000;
}

section:not(#main) {
  display: none;
  width: 85vw;
}


.colorPalette {
  width: 85vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}
.colorButton {
  all: unset;
  /* cursor: pointer;
  height: 3.83vh;
  line-height: 4vh;
  border-radius: 3.6rem;  */
  margin: 0rem 0.25rem;
}

.sentence {
  width: 85vw;
  height: 20vh;
  line-height: 20vh;
  margin: auto;
}
.sentence h1 {
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
}



.wordBox {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#secondWordBox {
  width: 75vw;
}

.wordBox button {
  all: unset;
  cursor: pointer;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 1px solid #000;
  border-radius: 20vw;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
  flex-wrap: wrap;
}
.wordBox .wordButtonTwo {
  width: 7rem;
}
.wordBox .wordButtonThree {
  width: 9rem;
}
.wordBox .wordButtonFour {
  width: 10rem;
}

.buttonBar {
  width: 85vw;
  height: 15vh;
  line-height:20%; 
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;          /* 주축 끝점 기준으로 배치 */
}
.beforeButton, .nextButton {
  all: unset;
  cursor: pointer;
  width: 8vh;
  height: 8vh;
  border: 1px solid #000;
  border-radius: 50%;
  font-family: 'Coda';
  font-weight: 400;
  font-size: 2.3rem;
  text-align: center;
}
.beforeButton:active, .nextButton:active {
  color:#fff;
  background-color: #000;
}