@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  box-sizing: border-box; 
  word-break: keep-all;
  word-wrap: break-word;
  font-family: 'NanumSquareRound', sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section {
  width: 85vw;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  justify-content: center;
}
#startButton {
  all: unset;
  cursor: pointer;
  width: 12rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 1px solid #000;
  border-radius: 3.6rem;
  font-family: 'Coda' !important;
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
}
#startButton svg {
  margin-bottom: 0.2rem;
}
#startButton:active {
  color:#fff;
  background-color: #000;
}
#startButton:active svg path {
  fill: #fff;
}
section:not(#main) {    /* main 제외 section들은 초기 display를 none으로 설정 */
  display: none;
}

.colorPalette {
  width: 85vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}
#resultColorPalette {
  margin-top: 2vh;
}
.colorButton {
  all: unset;
  cursor: pointer;
  width: 60px;
  height: 33px;
  line-height: 35px;
  border: 1px solid #000;
  border-radius: 100px; 
  margin: 3px;
  background: repeating-linear-gradient(-30deg, transparent, transparent 7px, #000 7px, #000 8px);    /* striped background */
}

.sentence {
  width: 85vw;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 11vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.sentence p {
  font-size: 1.9rem;
  font-weight: bold;
  padding-left: 1rem;
  text-align: start;
}
#result .sentence {
  justify-content: center;
}
#result .sentence p {
  padding-left: 0;
  text-align: center;
}

.wordBox {
  width: 85vw;
  height: 48vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
/* #secondWordBox {
  width: 75vw;
} */
.wordBox button {
  all: unset;
  cursor: pointer;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 1px solid #000;
  border-radius: 2.7rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
  flex-wrap: wrap;
}
.wordBox .wordButtonTwo {
  width: 7rem;
}
.wordBox .wordButtonThree {
  width: 9rem;
}
.wordBox .wordButtonFour {
  width: 10rem;
}


.buttonBar {
  width: 85vw;
  height: 15vh;
  line-height:20%; 
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;          /* 주축 끝점 기준으로 배치 */
}
.beforeButton, .nextButton {
  all: unset;
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid #000;
  border-radius: 2.7rem;
  text-align: center;
}
/* .beforeButton:active, .nextButton:active {
  color:#fff;
  background-color: #000;
} */
.beforeButton:active, .nextButton:active {
  background-color: #000;
}
.beforeButton:active svg path, .nextButton:active svg path {
  fill: #fff;
}
#goResultButton {
  all: unset;
  cursor: pointer;
  width: 16rem;
  height: 4.5rem;
  line-height: 1rem;
  margin-top: 8rem;
  border: 1px solid #000;
  border-radius: 3.6rem;
  text-align: center;
}
#goResultButton:active {
  background-color: #000;
}
#goResultButton:active svg path {
  fill: #fff;
}


/* desktop */
@media screen and (min-width: 500px) { 
  #startButton:hover {
    color:#fff;
    background-color: #000;
  }
  #startButton:hover svg path {
    fill: #fff;
  }
  .colorPalette {
    margin-top: 5vh;
    height: 15vh;
  }
  #resultColorPalette {
    margin-top: 0;
    height: 13vh;
  }
  .sentence {
    height: 15vh;
    margin-top: 0;
    margin-bottom: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sentence p {
    padding-left: 0;
  }
  .wordBox {
    width: 38rem;
    height: 30vh;
    margin-bottom: 10vh;
    justify-content: center;
  }
  .buttonBar {
    width: 65vw;
    height: 5vh;
    margin-bottom: 12vh;
  }
  .beforeButton, .nextButton {
    width: 7rem;
  }
  .beforeButton:hover, .nextButton:hover {
    background-color: #000;
  }
  .beforeButton:hover svg path, .nextButton:hover svg path {
    fill: #fff;
  }
  #goResultButton {
    width: 15.5rem;
    height: 4rem;
    margin-top: 5vh;
  }
  #goResultButton:hover {
    background-color: #000;
  }
  #goResultButton:hover svg path {
    fill: #fff;
  }
}

@media screen and (max-width: 424px) {
  #startButton {
    height: 4.7rem;
    line-height: 4.7rem;
  }
  .colorButton {
    width: 54px;
    height: 30px;
  }
  .sentence p {
    font-size: 1.7rem;
  }
  .wordBox {
    width: 80vw;
  }
  .wordBox button {
    height: 3.5rem;
    line-height: 3.5rem;
    border: 1px solid #000;
    border-radius: 2.7rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0.6rem;
    font-size: 1.75rem;
  }
  .wordBox .wordButtonTwo {
    width: 5.5rem;
  }
  .wordBox .wordButtonThree {
    width: 7rem;
  }
  .wordBox .wordButtonFour {
    width: 8.7rem;
  }
  .beforeButton, .nextButton {
    width: 4rem;
    height: 4rem;
    border-radius: 2.7rem;
  }
  #goResultButton {
    height: 4rem;
  }
}